<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Leendert van Beelen</title>
	<link rel="stylesheet" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro" rel="stylesheet">
</head>

<body>
<div class="container">
<header>
	<div class="big">
		<h1 class="component">Hi, I am Leendert van Beelen</h1>
		<p class="component">Software developer, traveller, photographer, exploring creativity. I like to make things: a nice dinner, a beautiful picture or an amazing website. Learning new things is a second nature to me, I like to do things I haven't done before.</p>
		<ul class="taglist ">
			<li class="component"><a href="#">#design</a></li>
			<li class="component"><a href="#">#programming</a></li>
			<li class="component"><a href="#">#photography</a></li>
			<li class="component"><a href="#">#travel</a></li>
		</ul>
	</div>
	<div class="small">
		<img src="/images/IMG_1523.JPG" alt="Leendert van Beelen drinking coffee" class="circle component">
	</div>
</header>

<main class="gridlist">
  {{#each item}}
 	  <article class="gridlist-item component">
      <h2><a href="#">{{ title }}</a></h2>
        {{#if image}}
          <img src="{{ image.url }}">
        {{else}}
          <p>{{ firstlines }}</p>
        {{/if}}
      <ul class="taglist">
        <li><a href="#">#{{ tag }}</a></li>
      </ul>
    </article>
  {{/each}}
	<div class="gridlist-item image component">
		<img src="https://instagram.fsbz1-2.fna.fbcdn.net/t51.2885-15/e35/16229120_851945964946373_5820326747945566208_n.jpg?ig_cache_key=MTQzMzUxOTIyODc3Nzk1Njg1OQ%3D%3D.2">
		<p class="caption">Lazy Sunday #coffee #genieten #cafefrei</p>
	</div>
</main>

</div>
</body>

</html>