<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Leendert van Beelen</title>
	<link rel="stylesheet" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro" rel="stylesheet">
</head>

<body>
<div class="container">
<header>
	<div class="big">
		<nav class="menu">
			<a class="component" href="#">Home</a>
			<a class="component" href="#">Blog</a>
			<a class="component" href="https://www.instagram.com/leendertvanbeelen/">Instagram</a>
			<a class="component" href="https://github.com/lwvb">github</a>
		</nav>
		<h1 class="component">Blog - Leendert van Beelen</h1>
		<p class="component">This is a place where I share thoughts with the rest of the world. The blogs are in Dutch and, or English depending on the subject and intented audience.</p>
		<ul class="taglist ">
			<li class="component"><a href="#">#webdesign</a></li>
			<li class="component"><a href="#">#programming</a></li>
			<li class="component"><a href="#">#travel</a></li>
		</ul>
	</div>
	<div class="small"></div>
</header>

<main class="gridlist">
  {{#each items}}
 	  <article class="gridlist-item component">
      <h2><a href="#">{{ title }}</a></h2>
        {{#if image}}
          <img src="{{ image.url }}">
        {{else}}
          <p>{{ firstlines }}</p>
        {{/if}}
      <ul class="taglist">
        <li><a href="#">#{{ tag }}</a></li>
      </ul>
    </article>
  {{/each}}

</main>

</div>
</body>

</html>